{{ form_start(form) }}
{#    {{ form_widget(form) }}#}

<div class="row mb-3">
    <div class="col-12">
        {{ form_row(form.nom) }}
    </div>
</div>

<div class="row mb-3">
    <div class="col-12 col-lg-6">
        {{ form_row(form.latitude) }}
    </div>
    <div class="col-12 col-lg-6">
        {{ form_row(form.longitude) }}
    </div>
</div>

<div class="row mb-3">
    <div class="col-12 col-lg-6">
        {{ form_row(form.cout) }}
    </div>
</div>

{{ form_end(form) }}
