{% extends 'base-admin.html.twig' %}

{% block main_content %}



<div class="row">
    <div class="col-12">

        <div id="toolbar">
            <a href="{{ path('app_energies_new') }}" class="btn btn-primary mb-3">
                <i class="fa fa-plus"></i>&nbsp;Create new
            </a>
        </div>

    <table
        id="table"
        class="table bg-white text-dark"
        data-toggle="table"
        data-search="true"
        data-toolbar="#toolbar"
        data-show-refresh="true"
        data-show-columns="true"
        data-sortable="true"
        data-url="{{ path('app_energies_index_json') }}">
        <thead>
        <tr>
            <th data-field="id" data-sortable="true">ID</th>
            <th data-field="nom" data-sortable="true">Nom</th>
            <th data-field="etat" data-formatter="etatFormatter">En ligne?</th>
            <th data-formatter="operateFormatter">Actions</th>
        </tr>
        </thead>
    </table>
    </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}


    <script>



        function etatFormatter(row, index) {
            if(row == 1){
                return '<span class="text-success font-weight-bold">Oui</span>';
            }
            return '<span class="text-muted font-weight-bold">Non</span>';
        }

        // function rowStyle(row, index) {
        //     var classes = [
        //         'bg-blue',
        //         'bg-green',
        //         'bg-orange',
        //         'bg-yellow',
        //         'bg-red'
        //     ]
        //
        //     if (index % 2 === 0 && index / 2 < classes.length) {
        //         return {
        //             classes: classes[index / 2]
        //         }
        //     }
        //     return {
        //         css: {
        //             color: 'blue'
        //         }
        //     }
        // }

        var url_show_base = "{{ path('app_energies_show', {'id': '-ID-'}) }}";
        var url_edit_base = "{{ path('app_energies_edit', {'id': '-ID-'}) }}";

        function operateFormatter(value, row, index) {
            return [
                '<a href="' + url_show_base.replace('-ID-', row.id)
                + '" class="btn btn-sm btn-outline-secondary"><i class="fa fa-eye"></i> Show</a>',
                '<span class="mx-1"></span>',
                '<a href="' + url_edit_base.replace('-ID-', row.id)
                + '" class="btn btn-sm btn-outline-danger"><i class="fa fa-pencil"></i> Edit</a>'
            ].join('')
        }

        $(document).ready(function () {

        });
    </script>
{% endblock %}
