{% extends 'base-admin.html.twig' %}

{% block main_content %}

    <div class="row">
        <div class="col-12">

            <div id="toolbar" class="mb-3">
                <a href="{{ path('app_fournisseurs_new') }}" class="btn btn-primary">
                    <i class="fa fa-plus"></i>&nbsp;{{ 'New'| trans }}
                </a>
            </div>

            <table
                id="table"
                class="table bg-white text-dark"
                data-toggle="table"
                data-search="true"
                data-toolbar="#toolbar"
                data-show-refresh="true"
                data-show-columns="true"
                data-sortable="true"
                data-pagination="true"
                data-detail-view="false"
                data-detail-formatter="detailFormatter"
                data-detail-view-icon="true"
                data-detail-view-by-click="true"
                data-header-style="headerStyle"
                data-url="{{ path('app_fournisseurs_index_json') }}">
                <thead>
                <tr>
{#                    <th data-field="id" data-sortable="true">{{ 'Id'| trans }}</th>#}
                    <th data-field="nomCommercial" data-sortable="true">{{ 'Commercial name'| trans }}</th>
                    <th data-field="raisonSociale" data-sortable="true">{{ 'Raison sociale'| trans }}</th>
{#                    <th data-field="adresse1" data-sortable="true">{{ 'Adress'| trans }} 1</th>#}
{#                    <th data-field="codePostale" data-sortable="true">{{ 'Zip code'| trans }}</th>#}
                    <th data-field="pays.nom" data-sortable="true">{{ 'Country'| trans }}</th>
                    <th data-field="tel" data-sortable="true">{{ 'Phone'| trans }}</th>
                    <th data-field="email" data-sortable="true">{{ 'Email'| trans }}</th>
                    <th data-field="etat" data-sortable="true" data-formatter="etatFormatter">{{ 'Online'| trans }}</th>
                    <th data-formatter="operateFormatter">{{ 'Actions'| trans }}</th>
                </tr>

{#                <td>{{ fournisseur.adresse1 }}</td>#}
{#                <td>{{ fournisseur.adresse2 }}</td>#}
{#                <td>{{ fournisseur.codePostale }}</td>#}
{#                <td>{{ fournisseur.ville }}</td>#}
{#                <td>{{ fournisseur.tel }}</td>#}
{#                <td>{{ fournisseur.fax }}</td>#}
{#                <td>{{ fournisseur.email }}</td>#}
{#                <td>{{ fournisseur.siret }}</td>#}
{#                <td>{{ fournisseur.tvaIntraComm }}</td>#}
{#                <td>{{ fournisseur.tva }}</td>#}
{#                <td>{{ fournisseur.etat }}</td>#}
{#                <td>{{ fournisseur.emplacementFile }}</td>#}

                </thead>
            </table>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        var url_show_base = "{{ path('app_fournisseurs_show', {'id': '-ID-'}) }}";
        var url_edit_base = "{{ path('app_fournisseurs_edit', {'id': '-ID-'}) }}";

        function operateFormatter(value, row, index) {
            return [
                '<a href="' + url_show_base.replace('-ID-', row.id)
                + '" class="btn btn-sm btn-outline-secondary"><i class="fa fa-eye"></i> ' + "{{ "Show"|trans  }}" + '</a>',
                '<span class="mx-1"></span>',
                '<a href="' + url_edit_base.replace('-ID-', row.id)
                + '" class="btn btn-sm btn-outline-danger"><i class="fa fa-pencil"></i> ' + "{{ "Edit"|trans  }}" + '</a>'
            ].join('')
        }

    </script>
{% endblock %}



