{% extends 'base-admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        #map {
            height: 75%;
        }
    </style>
{% endblock %}

{% block main_content %}
    <div class="row mb-4 mb-lg-5">
        <div class="col-12 col-lg-6">
            <a href="{{ path('app_fournisseurs_edit', {'id': fournisseur.id}) }}" class="btn btn-orange2">
                <i class="fa fa-pencil"></i>&nbsp;{{ "Edit"|trans }}
            </a>
            <a href="{{ path('app_fournisseurs_index') }}" class="btn btn-outline-secondary">
                <i class="fa fa-arrow-left"></i>&nbsp;{{ "Back"|trans }}
            </a>
        </div>
        <div class="col-12 col-lg-6 text-right">
            {{ include('fournisseurs/_delete_form.html.twig') }}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-8 col-lg-6">
            {% include 'fournisseurs/_form.html.twig' %}
        </div>
        <div class="col-12 col-md-4 col-lg-6">
            <div class="h-100">
                {#                <div class="h-100"> #}
                <label class="font-weight-bold text-dark">
                    {{ "form.fournisseur.labels.distributionCenters" | trans }}
                </label>

                <div id="map"></div>

                <div class="row">
                <div class="col-12 col-md-8 col-lg-6">
                <div class="table-responsive mt-2">
                    <table class="table table-sm table-jus bg-white shadow-sm">
                        <thead class="bg-gray-400 text-gray-900">
                        <th class="w-50">Total</th>
                        <th class="w-50">En ligne</th>
                        </thead>
                        <tbody>
                        {% set c = fournisseur.getLivraisonCentersCount() %}
                        <tr>
                            <td>{{ c.total }}</td>
                            <td>{{ c.activos }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <a href="{{ path('app_livraison_centres_index', { id: fournisseur.id }) }}" class="btn btn-sm btn-outline-secondary">
                        <i class="fa fa-pencil small"></i>
                        &nbsp;Gestion
                    </a>
                </div>
                </div>
                </div>
                {#                </div> #}
                {#                <div class=""> #}
                {#                    {% include 'livraison_centres/_table.html.twig' %} #}
                {#                </div> #}
            </div>
        </div>
    </div>


{% endblock %}

 {% block javascripts %}
     {{ parent() }}

     {#     <script src="{{ asset('build/maps.js') }}"></script> #}

     {% include 'livraison_centres/_gmap-show.html.twig' %}

     <script>

         {# var url_show_base = "{{ path('app_fournisseurs_show', {'id': '-ID-'}) }}"; #}
         {# var url_edit_base = "{{ path('app_fournisseurs_edit', {'id': '-ID-'}) }}"; #}

         {# function operateFormatter(value, row, index) { #}
         {#    return [ #}
         {#        "<a href='"+ url_show_base.replace('-ID-', row.id) #}
         {#        + "' class='btn btn-sm btn-outline-secondary'><i class='fa fa-eye'></i></a>", #}
         {#        '<span class="mx-1"></span>', #}
         {#        '<a href="' + url_edit_base.replace('-ID-', row.id) #}
         {#        + '" class="btn btn-sm btn-outline-danger"><i class="fa fa-pencil"></i></a>' #}
         {#    ].join('') #}
         {# } #}

     </script>
 {% endblock %}



