{% extends 'base-admin.html.twig' %}

{% block stylesheets %}
    {#    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" #}
    {#          integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" #}
    {#          crossorigin=""/> #}

    {{ parent() }}

    <style>
        #map {
            height: 75%;
        }
    </style>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    {#    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" #}
    {#            integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" #}
    {#            crossorigin=""></script> #}
{% endblock %}

{% block main_content %}
    <div class="row mb-4 mb-lg-5">
        <div class="col-12 col-lg-6">
            <a href="{{ path('app_fournisseurs_edit', {'id': fournisseur.id}) }}" class="btn btn-primary">
                <i class="fa fa-pencil"></i>&nbsp;{{ "Edit"|trans }}
            </a>
            <a href="{{ path('app_fournisseurs_index') }}" class="btn btn-outline-secondary">
                <i class="fa fa-arrow-left"></i>&nbsp;{{ "Back"|trans }}
            </a>
        </div>
        <div class="col-12 col-lg-6 text-right">
            {{ include('fournisseurs/_delete_form.html.twig') }}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-8 col-lg-6">
            {% include 'fournisseurs/_form.html.twig' %}
        </div>
        <div class="col-12 col-md-4 col-lg-6">
            <div class="h-100">
{#                <div class="h-100">#}
                    <label class="font-weight-bold text-dark">
                        {{ "form.fournisseur.labels.distributionCenters" | trans }}
                    </label>
                    <div id="map"></div>
{#                </div>#}
{#                <div class="">#}
                    {% include 'livraison_centres/_table.html.twig' %}
{#                </div>#}
            </div>
        </div>
    </div>


{% endblock %}

 {% block javascripts %}
     {{ parent() }}

{#     <script src="{{ asset('build/maps.js') }}"></script>#}

     <script>

         function initMap(id, center, currentZoom, maxZoom = 19) {

             var map = L.map(id).setView(center, currentZoom);
             var tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                 maxZoom: maxZoom,
                 //attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
             }).addTo(map);

             return map;
         };

         $(document).ready(function (e) {

             var map = initMap('map', [41.909986, 12.3959157], 8, 19);

             var myIcon = L.icon({
                 iconUrl: "https://unpkg.com/leaflet@1.8.0/dist/images/marker-icon.png",
                // iconSize: [38, 95],
                iconAnchor: [22, 94],
                 popupAnchor: [-3, -76],
                // shadowUrl: 'my-icon-shadow.png',
               //  shadowSize: [68, 95],
                 shadowAnchor: [22, 94]
             });

                var markerOptions = {
                  icon: myIcon
                };

                 var marker = L.marker([41.909986, 12.3959157], markerOptions).addTo(map)
                     .bindPopup('<b>Hello world!</b><br />I am a popup.').openPopup();

             var marker = L.marker([42.416055, 12.848037], markerOptions).addTo(map)
                 .bindPopup('<b>Hello world!</b><br />I am a popup.').openPopup();

             var marker = L.marker([41.6345472,13.3026606], markerOptions).addTo(map)
                 .bindPopup('<b>Hello world!</b><br />I am a popup.').openPopup();






         });


         var url_show_base = "{{ path('app_fournisseurs_show', {'id': '-ID-'}) }}";
         var url_edit_base = "{{ path('app_fournisseurs_edit', {'id': '-ID-'}) }}";

         function operateFormatter(value, row, index) {
             return [
                 "<a href='"+ url_show_base.replace('-ID-', row.id)
                 + "' class='btn btn-sm btn-outline-secondary'><i class='fa fa-eye'></i></a>",
                 '<span class="mx-1"></span>',
                 '<a href="' + url_edit_base.replace('-ID-', row.id)
                 + '" class="btn btn-sm btn-outline-danger"><i class="fa fa-pencil"></i></a>'
             ].join('')
         }

     </script>
 {% endblock %}



